.hero {
    background-image: url(http://esti.turing.ai:5000/congruent_outline.png);
}

#questionBox {
    margin-top: 20px;
}

#questionWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}