.hero {
    background-image: none;
    background-color: rgb(204, 204, 204);
}

#questionBox {
    margin-top: 20px;
}

#questionWrapper {
    margin-right: 10px;
    margin-left: -83px;
    margin-top: 2px;
}

#listBtn {
    margin-left: 25px;
}

.part-two {
    background-image: url(http://esti.turing.ai:5000/startdust.png);
    color: rgb(204, 204, 204);
}