{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-turing">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      {% snippet "home/layout_turing.html".format(homepage_style) %}
    {% endblock %}
  </div>
{% endblock %}

{% block header_logo %}
  {% if g.site_logo %}
    <a class="logo" href="{{ h.url('home') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
    <h2>
        <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
    </h2>
  {% else %}
    <h1>
      <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
    </h1>
    {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
  {% endif %}
{% endblock %}