<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {# {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %} #}
        <h1>Turing.ai's Global Data Exchange</h1>
        <h2>A One-Stop-Shop to find the data you need and monetize the data you have</h2>
        <ul>
          <li>Looking for data? Search exisiting data and make your offer for validated, high-quality data</li>
          <li>Can't find exactly what you need? Request data from our global network</li>
          <li>Got data that's collecting dust? List your data with us and monetize</li>
        </ul>
      </div>
      <div class="span6 col2">
        {# {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %} #}
      </div>
    </div>
    <div class='row row2' id='questionBox'>
      <div class='span6 col2'>
        <form class='form-horizontal' id='questionWrapper' method="get" action="{% url_for controller='package', action='search' %}">
          <div class='control-group control-full control-large'>
            <label class='control-label' for='question'>Ask</label>
            <div class='controls'>
              <input id='question' name='question' type='submit' placeholder='What do you want to know?'></input>
            </div>
          </div>
        </form>
      </div>
      <div class='span6 col1'>
        <a class='btn btn-large btn-primary'>List Your Data</a>
      </div>
    </div>
  </div>
</div>