<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="span6 col2">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
    <div class='row row2' id='questionBox'>
      <div class='span12 col1'>
        <form class='box form-horizontal'>
          <div class='control-group control-full control-large' id='questionWrapper'>
            <label class='control-label' for='question'>Ask</label>
            <div class='controls'>
              <input id='question' name='question' type='text' placeholder='What do you want to know?'></input>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>