<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {# {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %} #}
        <h1>The Global Data Exchange</h1>
        <h2>A one-stop-shop for all things data</h2>
        <ul>
          <li><strong>Buy validated, high-quality data</strong></li>
          <li><strong>List your data and boost your balance sheet in new ways</strong></li>
          <li><strong>Request data from our global network of information sources</strong></li>
        </ul>
      </div>
      <div class="span6 col2">
        {# {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %} #}
        IMAGE HERE. something that says "whoa, big data"
      </div>
    </div>
    <div class='row row2' id='questionBox'>
      <div class='span6 col2'>
        <form class='form-horizontal' id='questionWrapper' method="get" action="{% url_for controller='package', action='search' %}">
          <div class='control-group control-full control-large'>
            <label class='control-label' for='question'>Ask</label>
            <div class='controls'>
              <input id='question' name='question' type='text' placeholder='What do you want to know?'></input>
            </div>
          </div>
        </form>
      </div>
      <div class='span6 col1'>
        <a class='btn btn-large btn-primary' id='listBtn' href='http://esti.turing.ai:5000/dataset/new'>List Your Data</a>
      </div>
    </div>
  </div>
</div>

<div class='part-two'>
  <div class='row row1'>
    <h1>Turing.ai is creating a new marketplace. Buy and sell data...</h1>
    <div class='span4 col1'>
      <h2><strong>When</strong> you want</h2>
      List time sensitve data for only a few days or historical data sets for all time.
    </div>
    <div class='span4 col2'>
      <h2><strong>How</strong> you want</h2>
      Sell data auction-style or for a fixed price.
    </div>
    <div class='span4 col3'>
      <h2><strong>To whom</strong> you want</h2>
      Conduct private transactions on our verified platform or sell data publicly.
    </div>
  </div>
</div>